html,
body {
  background: #efefef;
  /*padding: 10px;*/
  font-family: 'Varela Round';
}

a {
  color: #aaaaaa;
  transition: all ease-in-out 200ms;
}
a:hover {
  color: #333333;
  text-decoration: none;
}

.btn-primary{
  margin: 5px;
  background-color: #bfbfbf;
  border:  #bfbfbf;
}

.btn a{
  color: #e6e6e6;
}


.etc-login-form {
  color: #919191;
  padding: 10px 20px;
}

.etc-login-form p {
  margin-bottom: 5px;
}

.sign-form {
  max-width: 300px;
  border-radius: 5px;
  display: inline-block;
}

.main-login-form {
  position: relative;
}
.sign-form .form-control {
  border: 0;
  box-shadow: 0 0 0;
  border-radius: 0;
  background: transparent;
  color: #555555;
  padding: 7px 0;
  font-weight: bold;
  height:auto;
}

.arrow{
  font-weight: bold;
}

.sign-form .form-control::-webkit-input-placeholder {
  color: #999999;
}
.sign-form .form-control:-moz-placeholder,
.sign-form .form-control::-moz-placeholder,
.sign-form .form-control:-ms-input-placeholder {
  color: #999999;
}
.sign-form .form-group {
  margin-bottom: 0;
  border-bottom: 2px solid #efefef;
  padding-right: 20px;
  position: relative;
}
.sign-form .form-group:last-child {
  border-bottom: 0;
}
.login-group {
  background: #ffffff;
  color: #999999;
  border-radius: 8px;
  padding: 10px 20px;
}
.login-group-checkbox {
  padding: 5px 0;
}

.sign-form .login-button {
  position: absolute;
  right: -25px;
  top: 50%;
  background: #ffffff;
  color: #999999;
  padding: 11px 0;
  width: 50px;
  height: 50px;
  margin-top: -25px;
  border: 5px solid #efefef;
  border-radius: 50%;
  transition: all ease-in-out 500ms;
  font-weight: bold;
  font-size: 16pt;
  line-height: 16pt;
}
.sign-form .login-button:hover {
  color: #555555;
  transform: rotate(720deg);
  cursor: pointer;
}
.sign-form .login-button.clicked {
  color: #555555;
}
.sign-form .login-button.clicked:hover {
  transform: none;
}
.sign-form .login-button.clicked.success {
  color: #2ecc71;
}
.sign-form .login-button.clicked.error {
  color: #e74c3c;
}

.logo {
  padding: 15px 0;
  font-size: 25px;
  color: #aaaaaa;
  font-weight: bold;
}